# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
staticfiles/

# Virtual environments
myenv/
venv/

# Environment variables and sensitive files
*.env

# Node modules (in case you have them somewhere)
node_modules/

# Other IDE-specific or OS-specific files (optional)
*.log
.DS_Store
*.swp
