# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
db.sqlite3
staticfiles/

# Virtual environments
myenv/
venv/
*.log
.git/
.gcloudignore
.gitignore

# Ignore unnecessary development files
tests/
docs/
# Environment variables and sensitive files
*.env
service_account.json
*.map
# Node modules (in case you have them somewhere)
node_modules/

# Other IDE-specific or OS-specific files (optional)
*.log
.DS_Store
*.swp

# Allow specific folders to be tracked
!utils/
!models/
!middleware/
!controller/
!config/

# Allow all files inside those folders to be tracked
!utils/**
!models/**
!middleware/**
!controller/**
!config/**
