{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Link to your bundled JS file -->
    <script src="{% static 'client/build/static/js/main.8096905a.js' %}"></script>
</head>
<body>
    <div id="root"></div>
    <script>
        // Initialize your React app
        ReactDOM.render(<LandingPage />, document.getElementById('root'));
    </script>
</body>
</html>
